body {

}

h1  {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center
}

.image  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 40%;
  height: 40%;
  margin-top: 2rem;
}
